<header>
  <nav class="mobile-menu">
      <h3> Categorias</h3>
      <ol>
          <li>
            <a routerLink="/home">Pagina Inicial</a>
          </li>
          <li>
            <a routerLink="/post">Registrar nova postagem</a>
          </li>
          <li>
              <a href="#">Lorem ipsum dolor</a>
          </li>
          <li>
              <a href="#">Lorem ipsum dolor</a>
          </li>

          <h3> Procurando por algo? </h3>
          <form class="mobile-input">
              <input type="search" placeholder="Pesquisar por...">
              <i class="fas fa-search"></i>
          </form>
      </ol>
  </nav>

</header>
