<aside class="menu-side">
  <h3> Categorias</h3>
  <ol>
      <li>
          <a routerLink="/home" >Pagina Inicial</a>
      </li>
      <li>
          <a routerLink="/registrar">Registrar nova postagem</a>
      </li>
      <li>
          <a href="#">Lorem ipsum dolor</a>
      </li>
      <li>
          <a href="#">Lorem ipsum dolor</a>
      </li>

      <h3> Procurando por algo? </h3>
      <form class="input-pesquisa">
          <input type="search" placeholder="Pesquisar por...">
          <i class="fas fa-search"></i>
      </form>
  </ol>
</aside>
